<lib-breadcrumb></lib-breadcrumb>
<lib-admin></lib-admin>
<div class="border border-slate-100 grid grid-cols-3 gap-4 bg-green-200 p-4">
    <div class="border border-slate-100 p-4 bg-red-200">
        <h3>Benutzer:</h3>
        <p>Benutzeranzahl: 12</p>
    </div>
    <div class="border border-slate-100 p-4 bg-red-200 ">
        <h3>Benutzer:</h3>
        <p>Benutzeranzahl: 12</p>
    </div>
    <div class="border border-slate-100 p-4 bg-red-200 ">
        <h3>Benutzer:</h3>
        <p>Benutzeranzahl: 12</p>
    </div>
</div>